---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
import Description from "../components/Description.astro";
import Updates from "../components/Updates.astro";
---

<Layout title="landing stela-start">
  <main>
    <Slider />
    <Description />
    <Updates />
  </main>
</Layout>
