---
import Requirements from "../components/Requirements.astro";
---

<section>
  <div class="transition"></div>

  <div class="conten">
    <div class="text">
      <h2>Descripcion</h2><br />
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab optio non
        aut fugiat nemo nostrum soluta? Accusantium distinctio asperiores
        repellat aspernatur ipsum perspiciatis necessitatibus aliquam, placeat
        porro aperiam possimus earum.
        <br /><br />
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, animi
        odio ipsam autem ad, explicabo in magni itaque id, illo vel non sit quas
        adipisci repellendus illum dolores doloremque facilis!
      </p>
    </div>
  </div>

  <Requirements />

  <div class="capa"></div>
  <video autoplay loop muted src="src/assets/video01.mp4" class="video"></video>
</section>

<style>
  section {
    position: relative;
    height: 115vh;

    view-timeline-name: --transition;
    view-timeline-axis: block;
    animation-timeline: --transition;

    animation-name: transition;
    animation-range: exit 2%;
    animation-fill-mode: both;
  }
  @keyframes transition {
    for {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .video {
    width: 100%;
    height: 115vh;
    object-fit: cover;
    mask-image: linear-gradient(#141414 10%, transparent);
  }

  .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(20, 20, 20, 0.94);
  }

  .conten {
    width: 70%;
    margin: 0 auto 72px;
    left: 15%;
    right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    position: absolute;
    z-index: 101;
  }

  .text {
    p,
    h2 {
      box-sizing: border-box;
      color: #fff;
      text-shadow: 0 5px 10px #0004;
      padding-right: 40%;
    }

    h2 {
      font-weight: bolder;
      font-size: 4em;
      line-height: 1.3em;
      font-family:
        system-ui,
        -apple-system;
    }
  }

  .transition {
    background-color: #f1683a;
    width: 100vw;
    height: 45.95vh;
    position: absolute;
    z-index: 111;

    view-timeline-name: --transition;
    view-timeline-axis: block;
    animation-timeline: --transition;

    animation-name: show;
    animation-range: entry 5% cover 60%;
    animation-fill-mode: both;
  }

  @keyframes show {
    for {
      height: 0vh;
    }

    to {
      transform: translateY(-46vh);
    }
  }
</style>
