---

---

<section>
  <div class="conten">
    <p><span style="color: #f1683a;">Author: </span> ©pochedev</p>

    <p><span style="color: #f1683a;">company: </span> squad game studio</p>
    <p>
      <span style="color: #f1683a;">Contact: </span> squad-game-studio@gmail.com
    </p>
  </div>
</section>

<style>
  section {
    width: 100%;
    background-color: #101010;
  }
  .conten {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    gap: 40px;
  }

  p {
    box-sizing: border-box;
    color: #5e5e5e;
    text-shadow: 0 5px 10px #0004;
    font-weight: bolder;
    line-height: 1.3em;
  }
</style>
