---

---

<section class="slider">
  <!-- <div class="list">
    <div class="item">
      <img src="/img/01.webp" alt="img01" />
      <div class="content">
        <div class="title">title prueba</div>
        <div class="topic">sub-title</div>
        <div class="des">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          eos quas voluptatibus incidunt, dicta debitis eius, ex vitae tenetur
          temporibus aspernatur laudantium quo animi ipsum repellat distinctio
          veniam exercitationem sed.
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/img/02.webp" alt="img02" />
      <div class="content">
        <div class="title">title prueba</div>
        <div class="topic">sub-title</div>
        <div class="des">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          eos quas voluptatibus incidunt, dicta debitis eius, ex vitae tenetur
          temporibus aspernatur laudantium quo animi ipsum repellat distinctio
          veniam exercitationem sed.
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/img/03.webp" alt="img03" />
      <div class="content">
        <div class="title">title prueba</div>
        <div class="topic">sub-title</div>
        <div class="des">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          eos quas voluptatibus incidunt, dicta debitis eius, ex vitae tenetur
          temporibus aspernatur laudantium quo animi ipsum repellat distinctio
          veniam exercitationem sed.
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/img/04.webp" alt="img04" />
      <div class="content">
        <div class="title">title prueba</div>
        <div class="topic">sub-title</div>
        <div class="des">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          eos quas voluptatibus incidunt, dicta debitis eius, ex vitae tenetur
          temporibus aspernatur laudantium quo animi ipsum repellat distinctio
          veniam exercitationem sed.
        </div>
      </div>
    </div>
  </div>

  <div class="thumbnail">
    <div class="item">
      <img src="/img/02.webp" alt="img02" />
      <div class="content">
        <div class="title">name slider</div>
        <div class="des">description</div>
      </div>
    </div>
    <div class="item">
      <img src="/img/03.webp" alt="img03" />
      <div class="content">
        <div class="title">name slider</div>
        <div class="des">description</div>
      </div>
    </div>
    <div class="item">
      <img src="/img/04.webp" alt="img04" />
      <div class="content">
        <div class="title">name slider</div>
        <div class="des">description</div>
      </div>
    </div>
    <div class="item">
      <img src="/img/01.webp" alt="img01" />
      <div class="content">
        <div class="title">name slider</div>
        <div class="des">description</div>
      </div>
    </div>
  </div>

  <div class="arrows">
    <button id="prev">z</button>
    <button id="next"></button>
  </div>
  <div class="time"></div>
</section>

<script>
  let nextDom = document.getElementById("next");
  let prevDom = document.getElementById("prev");
  let sliderDom = document.querySelector(".slider");
  let listItemDom = document.querySelector(".slider .list");
  let thumbnailDom = document.querySelector(".slider .thumbnail");

  nextDom.onclick = function () {
    showSlider("next");
  };

  prevDom.onclick = function () {
    showSlider("prev");
  };

  let timeRunning = 3000;
  let timeAutoNext = 7000;
  let runTimeOut;
  let runAutoRun = setTimeout(() => {
    nextDom?.click();
  }, timeAutoNext);

  function showSlider(type) {
    let itemSlider = document.querySelectorAll(".slider .list .item");
    let itemThumbnail = document.querySelectorAll(".slider .thumbnail .item");

    if (type == "next") {
      listItemDom?.appendChild(itemSlider[0]);
      thumbnailDom?.appendChild(itemThumbnail[0]);
      sliderDom?.classList.add("next");
    } else {
      let positionLasItem = itemSlider.length - 1;
      listItemDom?.prepend(itemSlider[positionLasItem]);
      thumbnailDom?.prepend(itemThumbnail[positionLasItem]);
      sliderDom?.classList.add("prev");
    }

    clearTimeout(runTimeOut);
    runTimeOut = setTimeout(() => {
      sliderDom?.classList.remove("next");
      sliderDom?.classList.remove("prev");
    }, timeRunning);

    clearTimeout(runAutoRun);
    runAutoRun = setTimeout(() => {
      nextDom?.click();
    }, timeAutoNext);
  }
</script> -->

  <style>
    .slider {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      position: relative;

      view-timeline-name: --transition;
      view-timeline-axis: block;
      animation-timeline: --transition;

      animation-name: transition;
      animation-range: exit 2%;
      animation-fill-mode: both;
    }

    @keyframes transition {
      form {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }

    .slider .list .item {
      position: absolute;
      inset: 0 0 0 0;
    }

    .slider .list .item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      position: absolute;
      top: 20%;
      width: 1140px;
      max-width: 80%;
      left: 50%;
      transform: translateX(-50%);
      padding-right: 30%;
      box-sizing: border-box;
      color: #fff;
      text-shadow: 0 5px 10px #0004;
    }
    .title,
    .topic {
      font-weight: bolder;
      font-size: 5em;
      line-height: 1.3em;
    }

    .topic {
      color: #f1683a;
    }

    .thumbnail {
      position: absolute;
      bottom: 50px;
      left: 50%;
      width: max-content;
      z-index: 100;
      display: flex;
      gap: 20px;
    }

    .thumbnail .item {
      width: 150px;
      height: 220px;
      flex-shrink: 0;
      position: relative;
    }

    .thumbnail .item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .thumbnail .item .content {
      position: absolute;
      transform: translateY(50%);
      bottom: 10px;
      right: 10px;
      left: 10px;
    }

    .thumbnail .item .content .title {
      font-weight: bold;
      font-size: 1.3rem;
    }

    .arrows {
      position: absolute;
      top: 80%;
      right: 52%;
      width: 300px;
      max-width: 30%;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .arrows button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f1683a;
      border: none;
      font-family: monospace;
      color: #fff;
      font-weight: bold;
      font-size: large;
      transition: 0.5s;
      z-index: 100;
    }

    .arrows button:hover {
      background-color: #fff;
      color: #f1683a;
    }

    .slider .list .item:nth-child(1) {
      z-index: 1;
    }

    .slider .list .item:nth-child(1) .title,
    .slider .list .item:nth-child(1) .topic,
    .slider .list .item:nth-child(1) .des {
      transform: translateY(50px);
      filter: blur(20px);
      opacity: 0;
      animation: showcontent 0.5s 0.1s linear 1 forwards;
    }

    @keyframes showcontent {
      to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
      }
    }

    .slider .list .item:nth-child(1) .title {
      animation-delay: 0.6s;
    }

    .slider .list .item:nth-child(1) .topic {
      animation-delay: 0.8s;
    }

    .slider .list .item:nth-child(1) .des {
      animation-delay: 1s;
    }

    .slider.next .list .item:nth-child(1) img {
      width: 150px;
      height: 220px;
      position: absolute;
      left: 50%;
      bottom: 50px;
      border-radius: 20px;
      animation: showImage 0.5s linear 1 forwards;
    }

    @keyframes showImage {
      to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
      }
    }

    .slider.next .thumbnail .item:nth-last-child(1) {
      width: 0;
      overflow: hidden;
      animation: showThumbnail 0.5s linear 1 forwards;
    }

    @keyframes showThumbnail {
      to {
        width: 150px;
      }
    }

    .slider.next .thumbnail {
      transform: translateX(150px);
      animation: transformThumbail 0.5s linear 1 forwards;
    }

    @keyframes transformThumbail {
      to {
        transform: translateX(0);
      }
    }

    .slider.prev .list .item:nth-child(2) {
      z-index: 2;
    }

    .slider.prev .list .item:nth-child(2) img {
      position: absolute;
      bottom: 0;
      left: 0;
      animation: outImage 0.5s linear 1 forwards;
    }

    @keyframes outImage {
      to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
      }
    }

    .slider.prev .thumbnail .item:nth-child(1) {
      width: 0;
      overflow: hidden;
      opacity: 0;
      animation: showThumbnail 0.5s linear 1 forwards;
    }

    .slider.prev .list .item:nth-child(2) .title,
    .slider.prev .list .item:nth-child(2) .topic,
    .slider.prev .list .item:nth-child(2) .des,
    .slider.prev .list .item:nth-child(2) .buttons {
      animation: contenOut 1.5s linear 1 forwards;
    }

    @keyframes contenOut {
      to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
      }
    }

    .slider.next .arrows button,
    .slider.prev .arrows button {
      pointer-events: none;
    }

    .time {
      width: 0%;
      height: 3px;
      background-color: #f1683a;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
    }

    .slider.next .time,
    .slider.prev .time {
      width: 100%;
      animation: timeRunning 2s linear 1 forwards;
    }

    @keyframes timeRunning {
      to {
        width: 0;
      }
    }

    @media screen and (max-width: 678px) {
      .slider .list .item .content {
        padding-right: 0;
      }
      .slider .list .item .content .title {
        font-size: 30px;
      }
    }
  </style>
</section>
