---

---

<section>
  <div class="wrapper">
    <div class="slider">
      <div id="slider-1" class="conten">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <img src="/public/img/01.webp" alt="" />
      </div>
      <div id="slider-2" class="conten">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 2</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <img src="/public/img/02.webp" alt="" />
      </div>
      <div id="slider-3" class="conten">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 3</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <img src="/public/img/03.webp" alt="" />
      </div>
      <div id="slider-4" class="conten">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 4</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <img src="/public/img/04.webp" alt="" />
      </div>
      <div id="slider-5" class="conten">
        <div class="tex">
          <h3>sub-titel</h3>
          <h1>title 5</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            autem animi provident impedit aperiam! Illum, tempora enim
            voluptatum doloribus cum, consequuntur tenetur voluptas suscipit
            autem pariatur sit laboriosam vel consectetur.
          </p>
        </div>
        <img src="/public/img/05.webp" alt="" />
      </div>
    </div>
    <div class="slider-nav">
      <a href="#slider-1"><img src="/public/img/01.webp" alt="" /></a>
      <a href="#slider-2"><img src="/public/img/02.webp" alt="" /></a>
      <a href="#slider-3"><img src="/public/img/03.webp" alt="" /></a>
      <a href="#slider-4"><img src="/public/img/04.webp" alt="" /></a>
      <a href="#slider-5"><img src="/public/img/05.webp" alt="" /></a>
    </div>
  </div>
</section>

<style>
  section {
    position: relative;

    view-timeline-name: --transition;
    view-timeline-axis: block;
    animation-timeline: --transition;

    animation-name: transition;
    animation-range: exit 2%;
    animation-fill-mode: both;
  }
  /* @keyframes transition {
    for {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  } */
  .wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  .slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-color: #f1683a #141414;
  }

  .conten {
    position: relative;
    scroll-snap-align: center;
    height: 98.1vh;
    flex: 1 0 100%;
    overflow: hidden;
    img {
      object-fit: cover;
      transform: translateY(-9%);
    }
  }

  .tex {
    width: 70%;
    margin: 0 auto 72px;
    left: 15%;
    right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    position: absolute;
    z-index: 3;

    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;

    h1,
    h3 {
      font-weight: bolder;
      line-height: 1.3em;
    }

    h1 {
      color: #f1683a;
      font-size: 7em;
    }

    h3 {
      color: #fff;
      font-size: 4em;
    }

    p {
      padding-right: 40%;
    }
  }

  .slider-nav {
    display: flex;
    position: absolute;
    bottom: 4.25rem;
    left: 72%;
    transform: translateX(-50%);

    a {
      width: 10rem;
      height: 14rem;
      border-radius: 1rem;
      margin: 0 -5px 0;
      scale: 0.8;
      transition: all 150ms ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
    a:hover {
      scale: 1;
      margin: 0 8px 0;
      border: #f1683a solid 1px;
    }
  }
</style>
